<!DOCTYPE HTML>
<html>

<head>
    <title>Enssistant</title>
    <link rel="shortcut icon" href="../static/images/128.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        window.onload = function() {
            document.getElementById('toggler').onclick = function() {
                openbox('box', this);
                return false;
            };
        };

        function openbox(id, toggler) {
            var div = document.getElementById(id);
            if (div.style.display == 'block') {
                div.style.display = 'none';
                toggler.innerHTML = 'Read the instructions';
            } else {
                div.style.display = 'block';
                toggler.innerHTML = 'Hide';
            }
        }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="../static/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../static/js/modernizr.custom.04022.js"></script>
    <!--clock init-->
</head>

<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!--//outer-wp-->
                <div class="outter-wp">
                    <!--/tabs-->
                    <div class="tab-main">
                        <!--/tabs-inner-->
                        <div class="tab-inner">
                            <div id="tabs" class="tabs">
                                <h2 class="inner-tittle">Vocabulary</h2>
                                <div class="graph">
                                    <nav>
                                        <ul>
                                            <li><a href="#section-1" class="icon-lab"><i class="fa fa-file-text-o"></i> <span>Section</span></a></li>
                                            <li><a href="#section-2" class="icon-cup"><i class="lnr lnr-book"></i> <span>The words</span></a></li>
                                            <li><a href="#section-3" class="icon-cup"><i class="lnr lnr-book"></i> <span>Exercise</span></a></li>
                                            <li><a href="#section-4" class="icon-shop"><i class="fa fa-pencil-square-o"></i> <span>Reading</span></a></li>
                                            <li><a href="#section-5" class="icon-truck"><i class="lnr lnr-layers"></i> <span>Self-control</span></a></li>
                                        </ul>
                                    </nav>
                                    <div class="content tab">
                                        <section id="section-1">
                                            <a id="toggler" href="#">Read the instructions</a>
                                            <div id="box" style="display: none;">
                                                <p>
                                                    In our dictionary there are words that are developed for the study of widely used words of English, for the development of the vocabulary of students from the elementary to advanced level. for convenience, the words are divided into sections that present 20 commonly used English words (word, meaning, example of use in the phrase), followed by exercises to verify the understanding of the meaning and use of words, followed by a text in which all the 20 presented in the beginning section of the new words, then exercises to understand the text. All the presented words (with meanings and examples of use) and texts are sounded. Thus, in the 4000 Series Essential English Words, there are, strictly speaking, 3600 required English words.</p>

                                                <h3>To use this dictionary</h3>
                                                <ol>
                                                    <li>Select the word section from the list below</li>
                                                    <li>Go to the tabs for a good assimilation of information <b>in turn</b></li>
                                                    <li>The words</li>
                                                    <li>Exersise</li>
                                                    <li>Reading</li>
                                                    <li>Self-control</li>
                                                </ol>

                                            </div>

                                       <br><br><br>
                                       <ul>
                                           <li><a href="">Links to word lessons</a></li>
                                       </ul>
                                        </section>




                                        <section id="section-2">
<p><b>This section contains a list of words, their definitions and examples of use. Listen to the audio for better learning</b></p>
                                            <audio controls>
    <source src="../static/audio/IELTS11.MP3" type="../static/audio/mpeg">
    The audio tag is not supported by your browser.
   </audio>
   
   <dl>
       <dt>Word</dt>
       <dd>Explanation</dd>
       <dd>Applying</dd>
   </dl>



                                        </section>
                                        <section id="section-3">
                                            <h3>Pass the test for assimilation of words</h3>
                                            <form name="test">
                                                <ol>
                                                    <li>
                                                        <input type="text" size="1" value="" name="T1" /><b> Qestion</b><br/>
                                                        <input type="radio" value="0" name="Q1" /> <br />
                                                        <input type="radio" value="1" name="Q1" /> <br />
                                                        <br/></ol>
                                                <CENTER>
                                                    <p>
                                                        <input type="text" value="" name="s1" /> </p>
                                                    <input onclick="check_me()" type="button" value="Show results" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="reset" value="Reset responses" />
                                                </CENTER>
                                            </form>
                                            <br><br><br>
                                            <h3>Second test</h3>
                                            <form name="test2">
                                                <ol>
                                                    <li>
                                                        <input type="text" size="1" value="" name="T1" /><b> Питання 1???</b><br/>
                                                        <input type="text" name="" /> <br />

                                                        <br/></ol>
                                                <CENTER>
                                                    <p>
                                                        <input type="text" value="" name="s1" /> </p>
                                                    <input onclick="check_me()" type="button" value="Show results" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="reset" value="Reset responses" />
                                                </CENTER>
                                            </form>
                                        </section>
                                        <section id="section-4">

<p><b>In this section, you need to read the text and listen to the audio for better learning. The text contains all the words from "The words" tab</b></p>
                                            <audio controls>
    <source src="../static/audio/IELTS11.MP3" type="../static/audio/mpeg">
    The audio tag is not supported by your browser.
   </audio>
   <br>
   <textarea cols="90%" rows="13" class="inpAdm"></textarea>
                                        </section>

                                        <section id="section-5">
                                            <form name="test">
                                                <ol>
                                                    <li>
                                                        <input type="text" size="1" value="" name="T1" /><b> Qestion</b><br/>
                                                        <input type="radio" value="0" name="Q1" /> <br />
                                                        <input type="radio" value="1" name="Q1" /> <br />
                                                        <input type="radio" value="0" name="Q1" /> <br />
                                                        <input type="radio" value="1" name="Q1" /> <br />
                                                        <br/></ol>
                                                <CENTER>
                                                    <p>
                                                        <input type="text" value="" name="s1" /> </p>
                                                    <input onclick="check_me()" type="button" value="Show results" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="reset" value="Reset responses" />
                                                </CENTER>
                                            </form>
                                        </section>

                                    </div>
                                    <!-- /content -->
                                </div>
                                <!-- /tabs -->

                            </div>
                            <script src="../static/js/cbpFWTabs.js"></script>
                            <script>
                                new CBPFWTabs(document.getElementById('tabs'));
                            </script>
                        </div>
                    </div>
                    <!--//tabs-inner-->
                </div>
                <!--//tabs-->
            </div>
            <!--//outer-wp-->

        </div>
        

        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                <a href="index.html"> <span id="logo"> <h1>Enssistant</h1></span>
				</a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
            <!--/down-->
            <div class="down">
                <img src="../static/images/ielts.png" alt="">
                <ul>
                    <li><a class="tooltips" href="index.html"><span>Профіль</span><i class="lnr lnr-user"></i></a></li>
                    <li><a class="tooltips" href="index.html"><span>Налаштування</span><i class="lnr lnr-cog"></i></a></li>
                    <li><a class="tooltips" href="index.html"><span>Вийти</span><i class="lnr lnr-power-switch"></i></a></li>
                </ul>
            </div>
            <!--//down-->
       						<div class="menu">
				<ul id="menu">
					<li id="menu-academico"><a href="index.html"><i class="lnr lnr-apartment"></i> <span>English assistant</span></a></li>
					<li id="menu-academico"><a href="ielts_test.html"><i class="fa fa-globe fa-lg"></i><span>IELTS </span></a></li>
                    <li id="menu-academico"><a href="ielts_lessons.html"><i class="fa fa-info"></i><span>IELTS lessons</span> </a></li>
                    <li id="menu-academico"><a href="tenses.html"><i class="fa fa-check-square-o"></i> <span>Tests</span> </a></li>
					<li id="menu-academico"><a href="vocabulary.html"><i class="glyphicon glyphicon-book"></i> <span>Vocabulary</span> </a></li>
				    <li id="menu-academico"><a href="grammar.html"><i class="fa fa-puzzle-piece fa-lg"></i> <span>Grammar</span> </a></li>
					<li id="menu-academico"><a href="video.html"><i class="fa fa-adn fa-lg"></i> <span>Materials for studying</span> </a></li>
					<li id="menu-academico"><a href="admin.html"><i class="fa fa-lock fa-lg"></i> <span>Admin</span> </a></li>
				</ul>
			</div>
		   </div>
        <div class="clearfix"></div>
        <script>
            var toggle = true;

            $(".sidebar-icon").click(function() {
                if (toggle) {
                    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                    $("#menu span").css({
                        "position": "absolute"
                    });
                } else {
                    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                    setTimeout(function() {
                        $("#menu span").css({
                            "position": "relative"
                        });
                    }, 400);
                }

                toggle = !toggle;
            });

            $('.content').on('click', '.div1', function() {
                $(this).children('.div2').slideToggle("slow");
            });
        </script>
        <!--js -->
        <script src="../static/js/jquery.nicescroll.js"></script>
        <script src="../static/js/scripts.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>
    </div>

</body>

</html>
